/*** page ***/
	/* container */
		#container {
			position: absolute;
			top: 0px;
			left: 0px;
			margin: 0px;
			padding: 0px;
			border: 0px;
			width: 100%;
			height: 100%;
			text-align: left;
			overflow-x: hidden;
			overflow-y: hidden;
			z-index: 2;
		}

	/* columns */
		#column-left {
			float: left;
			width: 500px;
			height: 100vh;
			overflow: hidden;
			background-color: var(--black-3);
			opacity: 0.85;
		}

		#column-right {
			float: left;
			width: calc(100vw - 500px);
			height: 100vh;
			overflow: hidden;
		}

		#container:not([gameplay]) #column-left, #container:not([gameplay]) #column-right {
			visibility: hidden;
		}

		#container[gameover] #column-left {
			visibility: visible !important;
		}

		#container[gameover] #column-right {
			width: 0px !important;
		}

	/* message */
		#message {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 50px;
		}

/*** start ***/
	#container[gameplay] #start, #container[gameover] #start {
		display: none;
	}

	/* button flag */
		#submit-start {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: 400px;
			width: 600px;
			font-size: 80px;
			background-image: url("banner.png");
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			border: 0px;
			border-radius: 0px calc(var(--borderRadius) * 4) calc(var(--borderRadius) * 4) 0px;
		}

		#submit-start-inner {
			font-size: 60px;
			background-color: var(--white-4);
			color: var(--cerulean-4);
			padding: 5px 50px 5px 50px;
			line-height: 2;
		}

		#submit-start-pole {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-310px) translateY(-210px);
			background-color: var(--black-4);
			width: 10px;
			height: 100vh;
			border-radius: var(--borderRadius);
			box-shadow: 0px 0px 20px var(--black-4);
		}

	/* name flags */
		#flags-background {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: -1;
			filter: blur(1.5px);
		}

		#flags-background .flag-outer {
			position: absolute;
			width: 150px;
			height: 100px;
			border-radius: 0px var(--borderRadius) var(--borderRadius) 0px;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			-o-user-select: none;
			cursor: default;
			animation: fadein 2s;
			box-shadow: 0px 0px 5px var(--black-4);
		}

		#flags-background .flag-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			color: var(--white-4);
			font-size: 30px;
			overflow: hidden;
			text-overflow: ellipsis;
			text-shadow: 0px 0px 10px var(--black-4);
		}

		#flags-background .flag-pole {
			position: absolute;
			left: -10px;
			top: -5px;
			width: 10px;
			border-radius: 5px;
			background-color: var(--black-4);
			height: 150vh;
			box-shadow: 0px 0px 10px var(--black-4);
		}

		@keyframes fadein {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}

	/* nation flag */
		#nation-flag {
			width: 100%;
			height: 100%;
			border-radius: var(--borderRadius);
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: -1;
			filter: blur(5px);
		}

/*** government ***/
	#government {
		color: var(--white-4);
		padding: 10px;
		float: left;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		width: calc(100% - 20px);
		height: 400px;
	}

	#container:not([gameplay]) #government {
		visibility: hidden;
	}

	#container[gameover] #government {
		visibility: visible !important;
	}

	/* text */
		#government-name {
			float: left;
			text-align: left;
			width: calc(100% - 10px - 70px);
			padding: 0px 10px 10px 0px;
			font-size: 30px;
			height: 40px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		#government-election {
			float: right;
			height: 25px;
			text-align: center;
			background-color: var(--black-4);
			border-radius: 0 0 var(--borderRadius) var(--borderRadius);
			color: var(--white-4);
			padding: 0px 5px 5px 5px;
			font-size: 20px;
			width: 60px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		#government-election-label {
			font-size: 10px;
			float: right;
			width: 60px;
			padding: 5px 5px 0px 5px;
			background: var(--black-4);
			border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
			text-align: center;
		}

		#government-leader {
			float: left;
			width: 60%;
			font-size: 20px;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			text-transform: capitalize;
		}

		#government-treasury {
			float: right;
			width: 40%;
			font-size: 20px;
			text-align: right;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		#government-treasury:before {
			content: "Treasury: $";
		}

		#government-treasury[direction="down"] {
			color: var(--red-2);
		}

	/* agencies */
		#government-agencies {
			float: left;
			width: 100%;
			padding-top: 10px;
		}

		.government-agencies-line {
			background-color: var(--black-4);
			float: left;
			width: 100%;
			border-radius: 4px;
			height: 20px;
			z-index: 1;
			margin: 10px 0px 10px 0px;
			text-align: center;
		}

		.government-agencies-label {
			font-size: 15px;
			line-height: 1;
			margin-top: 2px;
			color: var(--black-2);
		}

		#government-agencies-s, #government-agencies-r, #government-agencies-t, #government-agencies-m {
			position: relative;
			transform: translateX(-50%) translateY(calc(-50% - 7.5px));
			border-radius: 100%;
			height: 30px;
			width: 30px;
			z-index: 2;
			color: var(--white-4);
			font-size: 20px;
			text-align: center;
			padding: 5px;
			overflow: hidden;
			opacity: 0.75;
		}

		#government-agencies-s {
			background-color: var(--agency-s);
		}

		#government-agencies-r {
			background-color: var(--agency-r);
		}

		#government-agencies-t {
			background-color: var(--agency-t);
		}

		#government-agencies-m {
			background-color: var(--agency-m);
		}

	/* constituents */
		#government-constituents-line {
			background-color: var(--black-4);
			float: left;
			height: 2px;
			border-radius: 2px;
			z-index: 2;
			width: calc(100% + 10px);
			transform: translateY(75px);
			margin-left: -5px;
			opacity: 0.5;
		}

		#government-constituents {
			height: 150px;
			margin-top: -1px;
			display: flex;
			float: left;
			width: 100%;
		}

		#government-constituents div {
			align-self: flex-end;
			text-align: center;
			bottom: 0px;
			border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
			font-size: 15px;
			color: var(--black-4);
			overflow: hidden;
			text-overflow: ellipsis;
		}

		#government-constituents-d {
			background-color: var(--race-d);
			border-radius: var(--borderRadius) var(--borderRadius) 0px var(--borderRadius) !important;
		}

		#government-constituents-e {
			background-color: var(--race-e);
		}

		#government-constituents-f {
			background-color: var(--race-f);
		}

		#government-constituents-g {
			background-color: var(--race-g);
		}

		#government-constituents-l {
			background-color: var(--race-l);
			border-radius: var(--borderRadius) var(--borderRadius) var(--borderRadius) 0px !important;
		}

		#government-constituents div span {
			display: block;
			font-size: 10px;
		}

/*** results ***/
	#results {
		float: left;
		height: calc(100vh - 440px);
		padding: 10px;
		width: calc(100% - 20px);
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: var(--black-4);
	}

	#container:not([gameplay]) #results {
		visibility: hidden;
	}

	/* text */
		#results-name {
			float: left;
			font-size: 15px;
			color: var(--black-2);
			text-align: center;
		}

	/* options */
		.results-option {
			float: left;
			background-color: var(--black-2);
			color: var(--black-3);
			border-radius: var(--borderRadius);
			padding: 10px;
			width: calc(100% - 20px);
			margin: 5px 0px 5px 0px;
			font-size: 10px;
		}

		.results-option[selected] {
			background-color: var(--black-0);
		}

		.results-option-name {
			text-align: left;
		}

		.results-option-voters {
			text-align: right;
		}

/*** issues ***/
	#issues {
		float: left;
		height: calc(100vh - 40px);
		padding: 20px;
		width: calc(100% - 40px);
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	#container:not([gameplay]) #issues {
		visibility: hidden;
	}

	.issue {
		float: left;
		width: calc(100% - 20px);
		padding: 10px 10px 0px 10px;
		background-color: var(--black-0);
		border-radius: var(--borderRadius);
		margin-bottom: 20px;
		box-shadow: 0px 0px 10px var(--black-2);
	}

	.issue:hover, .issue:focus, .issue[selected] {
		box-shadow: 0px 0px 20px var(--black-4);
	}

	/* colors */
		.issue[type="leader"] {
			background-color: var(--purple-1);
		}

		.issue[type="repeal"], .issue[type="enact"] {
			background-color: var(--blue-1);
		}

		.issue[type="austerity"] {
			background-color: var(--green-1);
		}

		.issue[type="effect"] {
			background-color: var(--yellow-1);
		}

		.issue[type="protest"] {
			background-color: var(--orange-1);
		}

		.issue[type="rebellion"] {
			background-color: var(--red-1);
		}
		
	/* info */
		.issue-timeout {
			float: right;
			margin-top: -20px;
			margin-right: -20px;
			background-color: var(--black-4);
			border-radius: var(--borderRadius);
			color: var(--white-4);
			padding: 5px;
			font-size: 20px;
		}

		.issue-name {
			font-size: 20px;
			margin-bottom: 10px;
			pointer-events: none;
		}		

	/* option info */
		.issue:not([selected]) .option {
			display: none;
		}

		.option {
			width: calc(100% - 20px);
			float: left;
			padding: 10px;
			background-color: var(--black-0);
			border-radius: var(--borderRadius);
			margin-bottom: 10px;
			cursor: pointer;
			box-shadow: 0px 0px 10px var(--black-2);
		}

		.option:hover, .option:focus {
			box-shadow: 0px 0px 20px var(--black-4);
		}

		.option-name {
			font-size: 20px;
			margin-bottom: 10px;
			pointer-events: none;
		}

	/* option money */
		.option-treasury {
			float: left;
			width: 50%;
			height: 40px;
			font-size: 30px;
			text-align: right;
			pointer-events: none;
			margin-bottom: 10px;
		}

		.option-treasury:before {
			content: "$ ";
		}

		.option-funds {
			float: right;
			width: 50%;
			height: 40px;
			font-size: 20px;
			text-align: right;
			line-height: 2.5;
			pointer-events: none;
			margin-bottom: 10px;
		}

		.option-funds:before {
			content: "($ ";
		}

		.option-funds:after {
			content: " donation)";
		}

	/* option agencies */
		.option-agencies {
			float: left;
			width: 100%;
			height: 50px;
			margin-right: 2.5px;
			pointer-events: none;
		}

		.issue[type="leader"] .option-agencies {
			display: none;
		}

		.option-agencies div {
			height: 25px;
			width: calc(25% - 20px);
			margin: 10px;
			float: left;
			border-radius: var(--borderRadius);
			color: var(--white-4);
			font-size: 15px;
			text-align: center;
		}

		.option-agencies-s {
			background-color: var(--agency-s);
		}

		.option-agencies-r {
			background-color: var(--agency-r);
		}

		.option-agencies-t {
			background-color: var(--agency-t);
		}

		.option-agencies-m {
			background-color: var(--agency-m);
		}

		.option-agencies div[direction="none"] {
			opacity: 0.2;
		}

		.option-agencies div[direction="down"]:before {
			color: var(--white-4);
			content: "← ";
		}

		.option-agencies div[direction="up"]:after {
			color: var(--white-4);
			content: " →";
		}

		.option-agencies div[accuracy="low"] span {
			display: none;
		}

		.option-agencies div[accuracy="high"] span {
			margin-left: 5px;
		}

	/* option constituents */
		.option-constituents {
			float: left;
			width: calc(100%);
			height: 50px;
			margin-left: 2.5px;
			pointer-events: none;
		}

		.option-constituents div {
			height: 50px;
			width: 20%;
			float: left;
			border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
			color: var(--white-4);
			font-size: 15px;
			text-align: center;
		}

		.option-constituents div:first-child {
			border-radius: var(--borderRadius) var(--borderRadius) 0px var(--borderRadius);
		}

		.option-constituents div:last-child {
			border-radius: var(--borderRadius) var(--borderRadius) var(--borderRadius) 0px;
		}

		.option-constituents-d {
			background-color: var(--race-d);
		}

		.option-constituents-e {
			background-color: var(--race-e);
		}

		.option-constituents-f {
			background-color: var(--race-f);
		}

		.option-constituents-g {
			background-color: var(--race-g);
		}

		.option-constituents-l {
			background-color: var(--race-l);
		}

		.option-constituents div[direction="none"] {
			opacity: 0.2;
		}

		.option-constituents div[direction="down"]:before {
			color: var(--white-4);
			content: "↓ ";
		}

		.option-constituents div[direction="up"]:after {
			color: var(--white-4);
			content: " ↑";
		}

		.option-constituents div[accuracy="low"] span {
			display: none;
		}

		.option-constituents div[accuracy="high"] span {
			margin-left: 5px;
		}

/*** end ***/
	#end {
		background-color: var(--black-4);
		opacity: 0.85;
		color: var(--white-4);
		box-shadow: 0px 0px 10px var(--black-4);
		float: left;
		width: calc(100vw - 500px);
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	#container:not([gameover]) #end {
		display: none;
	}

	/* play again */
		#container[gameover] #results {
			display: none !important;
		}

		#container:not([gameover]) #new-game {
			display: none;
		}

		#new-game, #new-game:visited {
			width: calc(100% - 32px);
			height: auto;
			font-size: 50px;
			text-align: center;
			border: 0px;
			background-color: var(--black-4);
			margin: 8px;
			text-decoration: none;
			border-radius: var(--borderRadius);
			text-transform: capitalize;
			color: var(--white-4);
			line-height: 3;
			font-weight: normal;
			float: left;
			padding: 8px;
		}

		#new-game:hover, #new-game:focus {
			box-shadow: 0px 0px 20px var(--black-4);
		}

	/* end-member */
		.end-member {
			float: left;
			width: calc(100% - 30px);
			background-color: var(--black-3);
			padding: 10px;
			margin: 5px;
			border-radius: var(--borderRadius);
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.end-member-name {
			width: 40%;
			font-size: 25px;
			float: left;
			text-align: left;
			color: var(--black-4);
		}

		.end-member-name[winner] {
			color: var(--white-4);
			text-shadow: 0px 0px 10px var(--white-4);
		}

		.end-member-ideology {
			float: left;
			width: 35%;
			font-size: 25px;
			text-align: center;
			color: var(--black-4);
		}

		.end-member-ideology[achieved] {
			color: var(--white-4);
			text-shadow: 0px 0px 10px var(--white-4);
		}

		.end-member-reelection {
			float: left;
			width: 25%;
			font-size: 25px;
			text-align: center;
			color: var(--black-4);
		}

		.end-member-reelection[reelected] {
			color: var(--white-4);
			text-shadow: 0px 0px 10px var(--white-4);
		}
