/*** main ***/
	/* elements */
		body {
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100vh;
			width: 100vw;
			padding: 0px;
			margin: 0px;
			border: 0px;
			overflow: hidden;
			background-color: var(--white-1);
			color: var(--black-4);
			font-family: var(--font);
			font-weight: bold;
			font-size: 30px;
			box-shadow: 0px 0px 25px var(--black-4) inset;
		}

		a, a:visited, a:hover, a:focus {
			text-decoration: none;
			font-weight: bold;
			outline: none;
			cursor: pointer;
			text-transform: uppercase;
			color: var(--blue-2);
		}

		a:hover, a:focus {
			text-shadow: 0px 0px 50px var(--black-4);
		}

		input, button, select, textarea {
			font-weight: bold;
			font-size: 30px;
			font-family: var(--font);
			outline: none;
			cursor: pointer;
			border: 5px solid var(--black-4);
			border-radius: var(--borderRadius);
			-webkit-appearance: none;
			-moz-appearance: none;
			overflow: hidden;
			color: var(--black-4);
			background-color:  var(--white-4);
			padding: 0px;
			text-transform: uppercase;
			box-shadow: 0px 0px 10px var(--black-4);
		}

		input, button, select {
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		button {
			color:  var(--white-4);
			background-color: var(--black-4);
			vertical-align: middle;
		}

		button:hover, button:focus, select:focus, textarea:focus, input:focus {
			box-shadow: 0px 0px 50px var(--black-4);
		}

		select:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 var(--black-4);
		}

	/* conditions */
		.hidden {
			display: none;
			pointer-events: none;
		}

		.invisible {
			opacity: 0;
			pointer-events: none;
			transition: 2s;
		}

	/* sections */
		#message {
			position: fixed;
			top: 2%;
			left: 50%;
			transform: translateX(-50%);
			width: 80vw;
			z-index: 5;
			padding: 10px;
			box-shadow: 0px 0px 25px var(--red-3);
			background: linear-gradient(var(--red-3), var(--red-4));		
			opacity: 0;
			color: var(--white-4);
			font-size: 100%;
			text-align: center;
			pointer-events: none;
			border-radius: var(--borderRadius);
		}

/*** vendor prefixes ***/
	/* scrollbars */
		::-webkit-scrollbar {
			width: 0 !important;
			height: 0 !important;
		}

		::-moz-scrollbar {
			width: 0 !important;
			height: 0 !important;
		}

		::-ms-scrollbar {
			width: 0 !important;
			height: 0 !important;
		}

		::-o-scrollbar {
			width: 0 !important;
			height: 0 !important;
		}

	/* placeholders */
		::-webkit-input-placeholder {
			font-weight: bold;
			font-family: var(--font);
			text-align: center;
			color: var(--black-2);
		}

		::-moz-placeholder {
			font-weight: bold;
			font-family: var(--font);
			text-align: center;
			color: var(--black-2);
		
		}

		::-o-input-placeholder {
			font-weight: bold;
			font-family: var(--font);
			text-align: center;
			color: var(--black-2);
		}

		:-ms-input-placeholder {
			font-weight: bold;
			font-family: var(--font);
			text-align: center;
			color: var(--black-2);
		}
