/*** page ***/
	/* container */
		#container {
			margin: 0px;
			padding: 10px;
			border: 0px;
			width: calc(100vw - 20px);
			height: calc(100vh - 20px);
			text-align: left;
			overflow-x: hidden;
			overflow-y: scroll;
			background: linear-gradient(var(--cerulean-3), var(--cerulean-4));
			z-index: 2;
		}

		#container-inner {
			width: 100%;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
		}

	/* title */
		#title {
			text-align: center;
			width: calc(100% - 40px);
			height: auto;
			font-size: 250%;
			padding: 20px;
			margin-top: 10%;
			display: block;
			border-radius: var(--borderRadius);
			box-shadow: 0px 0px 0px;
			text-shadow: 0px 0px 20px var(--black-4);
			font-weight: bold;
			color: var(--white-4);
		}

		#title:focus, #title:hover {
			text-shadow: 0px 0px 50px var(--black-4);
		}

	/* sections */
		.section {
			margin: 0% 0% 10% 0%;
			font-weight: normal;
			cursor: default;
			color: var(--black-4);
			line-height: 1.25;
			border-radius: var(--borderRadius);
			width: 100%;
			text-align: center;
			background: transparent;
			overflow: hidden;
			box-shadow: 0px 0px 10px var(--black-2);
		}

		.header {
			position: relative;
			top: calc(800px / 4 + 17px);
			font-size: 250%;
			width: 100%;
			height: 100px;
			background-color: transparent;
			color: var(--white-4);
			text-shadow: 0px 0px 20px var(--black-4);
			cursor: default;
			text-align: center;
			z-index: 2;
		}

		@media screen and (max-width: 820px) {
			.header {
				top: calc((100vw) / 3 - 56px);
			}
		}

		.flag {
			width: 100%;
			max-width: 800px;
			height: auto;
			margin-bottom: 0px;
			margin-top: -100px;
			float: left;
			z-index: 0;
			background-color: var(--white-4);
		}

		.content {
			float: left;
			background-color: var(--black-4);
			padding: 5%;
			margin: 0px;
			font-size: 100%;
			color: var(--white-4);
			cursor: default;
			text-align: center;
			width: calc(100% - 10%);
			box-shadow: 0px 0px 25px var(--black-4);
		}

	/* feedback */
		#feedback-text {
			padding: 10px;
			max-width: calc(100% - 20px);
			min-width: calc(100% - 20px);
			margin-bottom: 2%;
			border-radius: var(--borderRadius);
			border: 0px;
			min-height: 50px;
		}

		#feedback-email {
			width: calc(100% - 20px - 100px);
			padding: 10px;
			border-radius: var(--borderRadius) 0px 0px var(--borderRadius);
			border: 0px;
			line-height: 1;
			font-size: 100%;
		}

		#feedback-submit {
			vertical-align: bottom;
			padding: 15px;
			width: 100px;
			line-height: 1;
			font-size: 100%;
			border-radius: 0px var(--borderRadius) var(--borderRadius) 0px;
			border: 0px;
			background-color: var(--white-4);
			color: var(--black-4);
		}

/*** colors ***/
	/* text */
		.redtext {
			color: var(--red-2);
		}

		.orangetext {
			color: var(--orange-2);
		}

		.greentext {
			color: var(--green-2);
		}

		.bluetext {
			color: var(--blue-2);
		}

		.purpletext {
			color: var(--purple-2);
		}
